/*
* Navigation Bar Stylesheet
*/

@import 'colors', 'fonts';

nav {
  height: 120px;
  width: 100%;
  background: none;
  color: $header-text-color;
  padding: 0 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  position: fixed;
  top: 0;

  button {
    color: $header-text-color;
    background: none;
    border: none;
    padding: 10px 50px;
    &:hover {
      color: red;
    }
  }
}

.nav-logo {
  font-family: $major-font;
  font-size: 2em;
}

.nav-write-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  
  nav {
  background-color: $primary-color;
  background-image: none;
  }

}

