body > header {
  height: 400px;
  width: 100%;
  background-color: goldenrod;
  background-image: url("https://www.transparenttextures.com/patterns/checkered-light-emboss.png");
  display: flex;
  flex-direction: column;
}

.avatar {
  padding-top: 120px;
  justify-content: center;
  display: flex;
}

.name {
  display: flex;
  justify-content: center;
  color: #ffffff;
  background: inherit;
}

@media screen and (min-width: 1024px) {

  body > header {
    position: fixed;
    width: 33.3%;
    justify-content: center;
    margin-left: 40px;
    margin-top: 170px;
  }

}