/*
* Navigation Bar Stylesheet
*/
nav {
  height: 120px;
  width: 100%;
  background: none;
  color: white;
  padding: 0 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  position: fixed;
  top: 0;
}
nav button {
  color: white;
  background: none;
  border: none;
  padding: 10px 50px;
}
nav button:hover {
  color: red;
}

.nav-logo {
  font-family: "Bungee", cursive;
  font-size: 2em;
}

.nav-write-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  nav {
    background-color: #4056A1;
    background-image: none;
  }
}
