.new-tweet {
  display: flex;
  flex-direction: column;
  margin: auto;
  font-weight: 600;
  color: #484848;
  font-family: "Bungee", cursive;
}
.new-tweet button {
  background-color: #4056A1;
  color: white;
  border-radius: 5px;
  border-color: #484848;
  border-width: 5px;
}
.new-tweet .input-addons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
}
.new-tweet #tweet-text {
  border: none;
  border-bottom: 10px solid #484848;
  border-radius: 5px;
  background: none;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}
.new-tweet ::placeholder {
  font-size: 24px;
  font-weight: 600;
  color: #484848;
}
.new-tweet input:focus {
  outline: none;
  background-color: none;
}
